# **Introduction to Python Programming**

In [ ]:
!python --version

Python 3.10.12

In [ ]:
batch = 55
print(f"Big Data {batch}")

Big Data 55

In [ ]:
batch = 57
if batch == 55:
  print("OK")
elif batch == 57:
  print("OK 2")
else:
  print("Others")

OK 2

In [ ]:
l = ["Big", "Data", 413, 412, 4.5]
print(*l)
l

Big Data 413 412 4.5

['Big', 'Data', 413, 412, 4.5]

In [ ]:
print(l[:3])

['Big', 'Data', 413]

In [ ]:
print(l[1:3])

['Data', 413]

In [ ]:
print(l[-2])

412

In [ ]:
for i in range(1, len(l), 2):
  print(l[i])

Data
412

In [ ]:
for i in l:
  print(i)

Big
Data
413
412
4.5

In [ ]:
s = {"Big", "Data", 413, 412}
for i in s:
  print(i)

Data
412
413
Big

In [ ]:
t = (413, 412)
print(t)

(413, 412)

In [ ]:
d = {
    "section": "I",
    "batch": 55
}
print(d)

{'section': 'I', 'batch': 55}

In [ ]:
for _, v in d.items():
  print(_,v)

section I
batch 55

In [ ]:
def sum(n1, n2):
  return n1+n2
print(sum(2,5))

7

In [ ]:
sum = lambda n1, n2: n1+n2
print(sum(2,5))

7